.page {
  background-color: rgb(194, 199, 197);
}

.main {
  margin: 10px;
}

.mainHeader {
  font-size: 50px;
  padding: 30px;
  text-align: center;
}

.mainWrapper{
  display: flex;
  margin: 50px
}

.weatherCardWrapper {
  background-color: rgb(206, 225, 242);
  border-radius: 20px;
  margin: 30px;
  padding: 20px;
  width: 1500px
}

.cardTop {
  font-size: 80px;
  font-style: italic;
  margin: 20px;
  margin-left: 40px;
  width: 1500px;
}

.cardBottom {
  display: flex;
}

.cardBottomLeft {
  background-color: gray;
  height: 400px;
  margin: 20px;
  margin-left: 40px;
  width: 400px;
}

.cardBottomRight {
  margin: 20px;
  width: 800px;
}